:root {
  font-family: 'Roboto', sans-serif;
  font-size: 8px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

html {
  overflow-y: scroll;
}
@media (max-width: $tablet-width) {
  .container {
    max-width: 95%;
    overflow: hidden;
  }
}
