$bg-white-color: #fff;
$bg-gray-color: #eaeef6;
$bg-orange-color: #ffe4c2;
$bg-violet-color: #e9d4ff;
$bg-mint-color: #b4fdd1;
$purple-color: #565eef;
$orange-text-color: rgb(255, 109, 0);
$violet-text-color: #9a48f1;
$gray-text-color: rgb(148, 166, 190);
$gray-text-color-selected: #94a6be;
$mint-text-color: #06b16e;
// font
$main-font: 'Roboto', sans-serif;

$tablet-width: 900px;
