$white-color: #fff;
$black-color: #000;
$blue-color: #565eef;
$error-color: #f84d4d;
$gray-color-100: #94a6be;
$gray-color-40: #94a6be66;

$bg-gray-color: #eaeef6;
// font
$main-font: 'Roboto', sans-serif;

$tablet-width: 900px;
